@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50/50 text-slate-900 antialiased selection:bg-indigo-200 selection:text-indigo-900 min-h-screen;
    background-image: radial-gradient(#e2e8f0 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}
